@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
/* @font-face {
	font-family: Gotham Rounded Book;
	src: url('../../../../static/fonts/Gotham Rounded Book.otf');
	} */
	@font-face {
		font-family: GothamBold;
		src: url(fonts/Gotham-Font/GothamMedium.ttf);
		}
	@font-face {
		font-family: GothamLight;
		src: url(fonts/Gotham-Font/GothamLight.ttf);
		}
	@font-face{
		font-family: GothamBook;
		src: url(fonts/Gotham-Font/GothamBook.ttf)
	}
	/* @font-face{
		font-family: Gotham;
		src: url(fonts/Gotham-Font/)
	} */
	
		

a,
p,
h1,h2,h3,h4,
small,
label{
	color: #777!important;
	font-family: 'GothamBold'!important;
}

table,tr,thead,tbody{
	font-family:'GothamLight'!important;
}
th{
	text-transform: uppercase!important;
	color:#67AEE6!important;
	font-family: 'GothamBold'!important;
}
tr.collapse.in {
	display:table-row;
  }

tr:hover{
	cursor:pointer;
}

/* td:nth-of-type(1) {

	display: none;
	
	} */
	
	
/*display*/
.display-block{
	display: block!important;
}

.display-flex{
	display: flex!important
}


/*padding*/
.no-padding{
	padding: 0px!important;
}

.no-padding-bottom{
	padding-bottom: 0px!important;
}

/*margin*/
.no-margin{
	margin: 0px!important;
}

.no-margin-bottom {
	margin-bottom: 0px!important;
}


/*shadows*/
.z-depth {
	/* box-shadow: 3px 3px 3px 10px rgba(46,61,73,0.2) !important; */
	box-shadow: 1px 1px 2px 5px rgba(34,36,38,.15);
}

.z-depth-1{
	box-shadow: 1px 2px 5px rgba(0,0,0,0.15)!important;
}

/*colors*/
.grey-text {
	color: #7D7D7D!important;
}

.blue-background{
	background: #67AEE6!important;
}

.white-text{
	color: #fff!important;
}
.white{
	background: #fff!important;
}
.light-grey{
	background: #f5f5f5!important;
}

/*width*/
.u-full-width{
	width: 100%!important;
}

/*height*/
.u-full-height{
	height: 100%!important;
}
.min-height-100{
	min-height: 100vh;
}

.min-height-70{
	min-height: 70vh;
}

/*typograph*/
.center-align{
	text-align: center!important;
}
.left-align{
	text-align: left!important;
}
.right-align{
	text-align: right!important;
}


/*position*/
.position-relative{
	position: relative!important;
}

.vertically-center{
	position: absolute !important;
    width: auto !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.absolute-center {
    position: absolute !important;
    width: 100% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
 }

/*media*/
.center-block{
	display: block!important;
	margin: 0px auto;
}


/*form*/
button.rounded,
input.rounded,
textarea.rounded{
	border-radius: 25px!important;
}



/*custom*/
.profile{
	padding: 20px 10px;
}
.profile-image{
	width: 75px;
	height: 75px;
	overflow: hidden;
	border-radius: 50%;
}
.main-menu .item i{
	float: none!important;
	margin-left: 0px!important;
	margin-right: 10px!important;
}

#app {
	overflow-x: hidden;
}

.top-nav{
	height: 64px;
	background: #67AEE6!important;
}

.left-log{
	/* background: url('../coins.jpeg')!important;
	background-position: center!important;
    background-repeat: no-repeat!important;
	background-size: cover;  */
	background:white;
	/* border: 0.5px solid #67AEE6!important; */
	border-radius:5px;
	
}

/* .left-content */
	/* color:white;
	font-family:GothamLight;
	padding-top: 15vh;
	font-weight:bold; */
	/* background:#67AEE6!important; */


/* .petty{
	font-family:GothamBold!important;
	font-size:4em;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding-bottom: 2vh;
	/* text-align: center; */


/* .can-do{
	font-family:GothamBook!important;
	
}

.platform{
} */ 

.right-content{
	color:#67AEE6!important;
	font-family:GothamBook;
	padding-top: 15vh;
	font-weight:bold;
}

.welcome{
	font-family:GothamBold!important;
	font-size:4em;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding-bottom: 3vh;
}

.login{
	font-family:GothamBook!important;
	font-size:1.1em;
}

.googlelog{
	color:#67AEE6!important;
	font-family:GothamBold!important;
	border: 2px solid #67AEE6!important;
	background:white!important;
}

.googlelog:hover{
	color:white!important;
	font-family:GothamBold!important;
	background:#67AEE6!important;
}

.add{
	background: #67AEE6!important;
	color:white!important;
	font-family:GothamBold!important;
	margin-left:5vw!important;
}

.reject{
	color:#ff0000!important;
	font-family:GothamBold!important;
	border: 2px solid #ff0000!important;
	background:white!important;
}

.reject:hover{
	color:white!important;
	font-family:GothamBold!important;
	background:#ff0000!important;
}